.spinnerLoader {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.spinnerLoader::before {
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    border: 6px solid rgb(49, 49, 49);
    border-top: transparent 5px solid;
    border-radius: 1000px;
    animation: spinnerEffect forwards 2s infinite linear;
}

.pageLoaderContainer {
    width: 100%;
    height: 80vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageLoaderContainer div {
    width: 150px;
    margin: 20px 0px;
}

.logoPathSvg {
    fill: gray;
    animation: pulse 1s ease-in-out infinite alternate forwards;
}

@keyframes pulse {
    from {
        fill: rgb(65, 65, 65);
        background-color: rgb(65, 65, 65);
    }

    to {
        fill: rgb(130, 130, 130);
        background-color: rgb(130, 130, 130);
    }
}

.pageLoaderProgress {
    position: relative;
    width: 200px;
    height: 5px;
    border-radius: 20px;
    background-color: rgb(43, 43, 43);
}


.pageLoaderProgress::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0px;
    height: 5px;
    border-radius: 20px;
    background-color: rgb(150, 150, 150);
    animation: progressBar 9s ease forwards 1s infinite;
}

@keyframes progressBar {
    0% {
        width: 0px;
    }

    11.1% {
        /* 1s*/
        width: 40px;
    }

    33.3% {
        /* 2s*/
        width: 80px;
    }

    44.42% {
        /* 1s*/
        width: 120px;
    }

    66.62% {
        /* 2s*/
        width: 150px;
    }

    100% {
        /* 4s*/
        width: 200px;
    }
}

.navbar {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    z-index: 1000;
    top: 0;
    align-items: center;
    padding: 0 25px;
    overflow: hidden;
    border-bottom: 1px solid gray;
}

.navbarLogo {
    width: 120px;
}

.navbarButtons {
    color: white;
    cursor: pointer;
    user-select: none;
    display: none;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    margin-right: 10px;
}

.navbarButtons span {
    font-size: 2rem;
}

.navbarCart {
    position: relative;
}

.navbarCartContainer {
    position: relative;
}

.navbarCart {
    font-size: 2rem;
}

.navbarCartContainer p {
    position: absolute;
    top: -.75rem;
    right: -.75rem;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: rgb(230, 49, 49);
    color: white;
}

.navbarCart:hover {
    color: rgb(198, 198, 198);
}

.navbarList {
    display: none;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    list-style: none;
    color: rgb(207, 207, 207);
    cursor: pointer;
    transition: .3s;
    margin: 0 1.8rem 0 0;
}

.navbarList li:hover {
    transition: .3s;
    color: rgb(205, 241, 255);
}

.navbarList li {
    position: relative;
}

.navbarList li::after {
    position: absolute;
    width: 0px;
    content: '';
    top: 25px;
    left: 0;
    right: 0;
    height: 2px;
    background: rgb(121, 167, 231);
    transition: .3s;
}

.navbarList li:hover::after {
    width: 100%;
    transition: 0.3s;
}

.footer {
    width: 100vw;
    display: grid;
    padding: 2rem 1rem;
    align-content: center;
    background-color: rgb(47, 47, 47);
}

.footerCopyrightContainer {
    width: 100%;
    margin-top: 2rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerLine {
    width: 80%;
}

.footerCopyright {
    color: white;
    font-size: 1.2rem;
}

.footerLogoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerListsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.footerListsContainer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerListsContainer ul li {
    color: rgb(181, 181, 181);
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
}

.footerListsContainer ul li:hover {
    color: white;
}

.footerListsContainer ul li::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 0;
    background-color: rgb(74, 139, 200);
    height: 2px;
    transition: .3s;
}

.footerListsContainer ul li:hover::before {
    left: 0;
    width: 100%;
}

.footerListsContainer h1 {
    color: white;
    font-size: 2.2rem;
    font-weight: 800;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: black;
}

.navbarBurger,
.navbarBurgerActive {
    font-size: 2rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: transform .15s ease;
}

.navbarBurger::after,
.navbarBurger::before,
.navbarBurgerActive::after,
.navbarBurgerActive::before {
    position: absolute;
    top: 50%;
    left: 12%;
    content: '';
    width: 30px;
    height: 2px;
    background-color: white;
    transition: transform .15s ease;
}

.navbarBurger::after {
    top: calc(50% - 5px);
}

.navbarBurger::before {
    top: calc(50% + 5px);
}

.navbarBurgerActive::before {
    transform: rotate(45deg);
    transition: transform .15s ease;
}

.navbarBurgerActive::after {
    transform: rotate(-45deg);
    transition: transform .15s ease;
}

.navbarMenuBar {
    width: 100vw;
    height: 100%;
    top: 80px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    z-index: 999;
    align-items: center;
    padding: 0 25px;
    color: white;
    border-bottom: 1px solid gray;
}

.navbarProfileMenu {
    top: 80px;
    right: 0;
    flex-direction: column;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    padding: 0rem 1rem 1rem 1rem;
    border: 1px solid gray;
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.navbarMenuBarProfileContainer {
    display: flex;
    margin-top: 1rem;
    width: 100%;
    align-items: center;
    gap: .5rem;
}

.navbarMenuBarProfileContainer div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

.navbarMenuBarProfileContainer button {
    background-color: transparent;
    outline: none;
    color: rgb(165, 165, 165);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.navbarMenuBarProfileContainer button:hover {
    text-decoration: underline;
}

.navbarMenuBarProfileContainer span {
    color: rgb(146, 146, 146);
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
}

.navbarMenuBarProfileContainer p {
    color: white;
}

.navbarLogoutButton {
    width: 100%;
    margin-top: .8rem;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    color: rgb(55, 102, 219);
    background-color: transparent;
    border: 1px solid rgb(55, 102, 219);
    outline: none;
    border-radius: .5rem;
    cursor: pointer;
}

.navbarLogoutButton:hover {
    transition: .3s;
    background-color: rgb(55, 102, 219);
    color: white;
}

.navBarMobileCartContainer {
    width: 100%;
    padding-top: 1rem;
}

.navbarMobileCartList {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbarMobileCartList li {
    display: grid;
    align-content: center;
    margin-bottom: 1rem;
}

.navbarCartProductRemove {
    cursor: pointer;
    width: fit-content;
    font-size: 2rem;
}

.navbarCartProductRemoveContainer {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbarCartProductRemove:hover {
    transition: .2s;
    color: gray;
}

.navbarCartProductHeader {
    grid-row-start: 1;
    display: flex;
    font-size: 1.5rem;
}

.navbarCartTotalContainer {
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    justify-content: space-between;
}

.navbarCartProductHeader p {
    color: rgb(189, 189, 189);
    margin-right: .25rem;
}

.navbarCartProductHeader h1:hover {
    text-decoration: underline;
}

.navbarCheckoutButton {
    width: 100%;
    background-color: rgb(90, 213, 88);
    border: none;
    margin-top: 1rem;
    border-radius: 8px;
    padding: 1rem 0rem;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbarCheckoutButton:hover {
    transition: .3s;
    background-color: rgb(67, 225, 64);
}

.navbarCartProductPrize {
    color: rgb(189, 189, 189);
    font-size: 1.25rem;
}

.navbarCartProductHeader h1 {
    font-weight: 600;
}


.navBarCartTitle {
    font-size: 2rem;
    font-weight: 800;
}

.divider {
    width: 100%;
    padding-top: .5rem;
    border-bottom: 1px solid gray;
}

.navbarMenuBarList {
    width: 100%;
}

.navbarMenuBarList li {
    font-size: 1.2rem;
    width: 100%;
    padding: .8rem .3rem;
    cursor: pointer;
    border-bottom: 1px solid gray;
}

.navbarMenuBarList li:hover {
    transition: .3s;
    background-color: rgb(41, 41, 41);
}

@media only screen and (min-width: 600px) {
    .navbarProfileMenu {
        display: flex;
    }

    .navbarMenuBar {
        display: none;
    }

    .navbarBurger,
    .navbarBurgerActive {
        display: none;
    }

    .navbarButtons,
    .navbarList {
        display: flex;
    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .navbarBurger {
        display: none;
    }

    .footerListsContainer {
        flex-direction: row;
    }

    .footerListsContainer ul {
        flex-direction: column;
        align-items: center;
    }
}

.modalContainer {
    transition: .3s;
    transform: translateY(-150px);
    width: 100%;
    padding: 20px .5rem;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: center;
}

.modalClose {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    background-color: rgb(232, 99, 99);
    border-radius: 1000px;
}

.modalClose:hover {
    background-color: rgb(244, 65, 65);
}

.modal {
    width: 100%;
    max-width: 600px;
    height: 130px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: rgba(79, 79, 79, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    overflow: hidden;
}

.errorIcon {
    color: rgb(232, 99, 99);
}

.warnIcon {
    color: rgb(230, 189, 67);
}

.infoIcon {
    color: rgb(81, 138, 202);
}

.modalHeader {
    border-radius: 15px 15px 0px 0px;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 0.3rem;
    background-color: rgba(79, 79, 79, 0.8);
    color: rgba(224, 223, 223, 0.8);
    font-size: 1.5rem;
    font-weight: 600;
}

.modalHeader div {
    display: flex;
    gap: .5rem;
}

.modalHeader div span {
    font-size: 35px;
}

.modalDescription {
    padding: 0.2rem 1rem;
    font-size: 1.3rem;
    color: white;
    text-overflow: ellipsis;

}

.modal div p {
    margin-bottom: .1rem;
}

@keyframes spinnerEffect {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 800px) {
    .footer {
        flex-direction: row;
    }

    .footerListsContainer {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .footerLogoContainer {
        justify-content: start;
        align-items: center;
        padding-left: 2rem;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .footerCopyrightContainer {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}