.navbar {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    z-index: 1000;
    top: 0;
    align-items: center;
    padding: 0 25px;
    border-bottom: 1px solid gray;
}

.navbarLogo {
    width: 120px;
}

.navbarButtons {
    color: white;
    cursor: pointer;
    user-select: none;
    display: none;
    justify-content: center;
    align-content: center;
    gap: .5rem;
    margin-right: 10px;
}

.navbarCart:hover {
    color: rgb(198, 198, 198);
}

.navbarList {
    display: none;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    list-style: none;
    color: rgb(207, 207, 207);
    cursor: pointer;
    transition: .3s;
    margin: 0 1.8rem 0 0;
}

.navbarList li:hover {
    transition: .3s;
    color: rgb(205, 241, 255);
}

.navbarList li {
    position: relative;
}

.navbarList li::after {
    position: absolute;
    width: 0px;
    content: '';
    top: 25px;
    left: 0;
    right: 0;
    height: 2px;
    background: rgb(121, 167, 231);
    transition: .3s;
}

.navbarList li:hover::after {
    width: 100%;
    transition: 0.3s;
}

.footer {
    width: 100vw;
    display: grid;
    padding: 2rem 1rem;
    align-content: center;
    background-color: rgb(47, 47, 47);
}

.footerCopyrightContainer {
    width: 100%;
    margin-top: 2rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerLine {
    width: 80%;
}

.footerCopyright {
    color: white;
    font-size: 1.2rem;
}

.footerLogo {
    width: 16rem;
    margin-top: -6rem;
    margin-bottom: -4rem;
}

.footerLogoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerListsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.footerListsContainer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerListsContainer ul li {
    color: rgb(181, 181, 181);
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
}

.footerListsContainer ul li:hover {
    color: white;
}

.footerListsContainer ul li::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 0;
    background-color: rgb(74, 139, 200);
    height: 2px;
    transition: .3s;
}

.footerListsContainer ul li:hover::before {
    left: 0;
    width: 100%;
}

.footerListsContainer h1 {
    color: white;
    font-size: 2.2rem;
    font-weight: 800;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: black;
}

.navbarBurger,
.navbarBurgerActive {
    font-size: 2rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: transform .15s ease;
}

.navbarBurger::after,
.navbarBurger::before,
.navbarBurgerActive::after,
.navbarBurgerActive::before {
    position: absolute;
    top: 50%;
    left: 12%;
    content: '';
    width: 30px;
    height: 2px;
    background-color: white;
    transition: transform .15s ease;
}

.navbarBurger::after {
    top: calc(50% - 5px);
}

.navbarBurger::before {
    top: calc(50% + 5px);
}

.navbarBurgerActive::before {
    transform: rotate(45deg);
    transition: transform .15s ease;
}

.navbarBurgerActive::after {
    transform: rotate(-45deg);
    transition: transform .15s ease;
}

.navbarMenuBar {
    width: 100vw;
    height: 100%;
    top: 80px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    z-index: 999;
    align-items: center;
    padding: 0 25px;
    color: white;
    border-bottom: 1px solid gray;
}

.navbarProfileMenu {
    top: 80px;
    right: 0;
    flex-direction: column;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    padding: 0rem 1rem 1rem 1rem;
    border: 1px solid gray;
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
}

.navbarMenuBarProfileContainer {
    display: flex;
    margin-top: 1rem;
    width: 100%;
    align-items: center;
    gap: .5rem;
}

.navbarMenuBarProfileContainer div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

.navbarMenuBarProfileContainer button {
    background-color: transparent;
    outline: none;
    color: rgb(165, 165, 165);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.navbarMenuBarProfileContainer button:hover {
    text-decoration: underline;
}

.navbarMenuBarProfileContainer span {
    color: rgb(146, 146, 146);
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
}

.navbarMenuBarProfileContainer p {
    color: white;
}

.navbarLogoutButton {
    width: 100%;
    margin-top: .8rem;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    color: rgb(55, 102, 219);
    background-color: transparent;
    border: 1px solid rgb(55, 102, 219);
    outline: none;
    border-radius: .5rem;
    cursor: pointer;
}

.navbarLogoutButton:hover {
    transition: .3s;
    background-color: rgb(55, 102, 219);
    color: white;
}

.divider {
    width: 100%;
    padding-bottom: .5rem;
    border-bottom: 1px solid gray;
}

.navbarMenuBarList {
    width: 100%;
    margin-top: 1rem;
}

.navbarMenuBarList li {
    font-size: 1.2rem;
    width: 100%;
    padding: .8rem .3rem;
    cursor: pointer;
    border-bottom: 1px solid gray;
}

.navbarMenuBarList li:hover {
    transition: .3s;
    background-color: rgb(41, 41, 41);
}

@media only screen and (min-width: 600px) {
    .navbarProfileMenu {
        display: flex;
    }

    .navbarMenuBar {
        display: none;
    }

    .navbarBurger,
    .navbarBurgerActive {
        display: none;
    }

    .navbarButtons,
    .navbarList {
        display: flex;
    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(8px);
    }

    .navbarBurger {
        display: none;
    }

    .footerListsContainer {
        flex-direction: row;
    }

    .footerListsContainer ul {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 800px) {
    .footer {
        flex-direction: row;
    }

    .footerListsContainer {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .footerLogoContainer {
        justify-content: start;
        align-items: center;
        padding-left: 2rem;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .footerCopyrightContainer {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}