.productContainer {
    width: 100%;
    margin: auto;
    max-width: 800px;
    margin-top: 150px;
    display: grid;
    gap: 1rem;
    padding: 0rem 1rem;
    margin-bottom: 100px;
}

.productTitle {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: left;
    font-weight: 900;
    width: 100%;

}

.productTitleLoading {
    font-size: 2rem;
    text-align: left;
    font-weight: 900;
    border-radius: 10000px;
    width: 200px;
    height: 2rem;
    animation: cardLoadingEffect 1s ease-in-out 0s infinite alternate forwards;

}

.productImageContainerLoading {
    width: 100%;
    aspect-ratio: 1/1;
    padding: 0.5rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: white;
}

.productDescriptionLoading {
    height: 150px;
    padding: .5rem;
    border: 1px solid gray;
    border-radius: 8px;
}

.prizeBuyContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.prizeBuyContainer button {
    width: 100%;
    outline: none;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 2rem;
    background-color: rgb(49, 104, 213);
    transition: .2s;
}

.prizeBuyContainer button:hover {
    box-shadow: rgba(49, 104, 213, 0.56) 0px 22px 70px 4px;
}

.prizeContainer {
    padding: .5rem 1rem;
    width: fit-content;
    height: fit-content;
    border: 1px solid gray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prizeContainer span {
    color: white;
    font-size: 2.5rem;
}

.productDescriptionLoading p {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.productDescriptionLoading p div {
    animation: cardLoadingEffect 1s ease-in-out 0s infinite alternate forwards;
    height: 1rem;
    border-radius: 100px;
}

.productDescriptionLoading p div:nth-child(1) {
    width: 100px;
}

.productDescriptionLoading p div:nth-child(2) {
    width: 260px;
}

.productDescriptionLoading p div:nth-child(3) {
    width: 220px;
}

.productDescriptionLoading p div:nth-child(4) {
    width: 230px;
}

.productDescriptionLoading p div:nth-child(5) {
    width: 290px;
}

.productDescription {
    padding: .5rem;
    border: 1px solid gray;
    border-radius: 8px;
    color: rgb(40, 40, 40);
}

.productDescription p {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 8px;
}

.productImageContainer {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    aspect-ratio: 1/1;
    padding: 0.5rem;
    border: none;
    border: 1px solid gray;
}

.productImageContainer img {
    width: 100%;
    aspect-ratio: 1/1;
}

.productImageContainer img[alt=""] {
    display: none;
}

@media only screen and (min-width: 600px) {
    .productContainer {
        border: 1px solid gray;
        border-radius: 8px;
        padding: 1rem 2rem;
    }

    .productImageContainer {
        grid-column-start: 1;
    }

    .productDescription {
        grid-column-start: 2;
        grid-column-end: 3;
        width: 100%;
        height: 190px;
    }

    .productDescription p {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .prizeBuyContainer {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@keyframes cardLoadingEffect {
    from {
        background-color: rgb(157, 157, 157);
    }

    to {
        background-color: rgb(227, 227, 227);
    }
}